<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"  
 "http://www.springframework.org/dtd/spring-beans.dtd"> -->
 
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="beanFactory" class="org.springframework.context.support.ClassPathXmlApplicationContext">
		<constructor-arg>
			<list>
				<!-- <value>spring-db.xml</value> -->
				<!-- <value>applicationContext-oxm.xml</value> -->
				<value>spring-db-mybatis.xml</value>
				<value>applicationContext.xml</value>
				
				<!--<value>classpath:/config/houstonconfig/spring-skeleton-remote.xml</value>-->
				</list>
		</constructor-arg>
	</bean>
	
</beans>